
.sticky-scroll-button h1{
    text-align: center;
   color: green;
}
  
.sticky-scroll-button {
    overflow-y: scroll;
    
}

.sticky-scroll-button .btn{
    background-color: transparent !important;
    border: 0px;
}
  
.sticky-scroll-button button {
    position: fixed; 
    left: 90%;
    bottom: 60px;
    height: 20px;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    color: #6c584c;
}

.sticky-scroll-button button:hover {
    color: #6a994e;
}