
.landing-container, .landing-container .container, .landing-container .row, .landing-container .col {
    height: 90vh;
}



.icons {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.icons li {
    list-style-type: none;
    padding-right: 25px;
    font-size: 10px;
}

.landing-container {
    color: #6c584c;
}

.landing-container h1 {
    color: #6a994e;
}


.landing-container .read-more {
    background-color: transparent;
    width: 15rem;
    height:40px;
    border: 1px solid #6c584c;
}

.landing-container .read-more a{
    text-decoration: none;
    color: #354f52;
}

.landing-container  button:hover, .landing-container  button:hover > a{
    background-color: #726953;
    color: #f2e8cf;
    border: 1px solid #726953;
}

@media only screen and (max-width: 600px) {
    .landing-container, .landing-container .container, .landing-container .row, .landing-container .col {
        height: inherit;
    }
    .icons {
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }
    
    .icons li {
        list-style-type: none;
        padding-right: 25px;
    }
  }

 