.landing-container, .landing-container .container, .landing-container .row, .landing-container .col {
    height: inherit;
}

.icons {
    display: flex;
    justify-content: center;
    margin-right: 30px;
}

.icons li {
    list-style-type: none;
    padding-right: 25px;
    font-size: 10px;
}

.landing-container {
    color: var(--bs-dark-color);
}

.landing-container h6 {
    color: var(--bs-secondary-color);
}

.gradient-text {
	text-transform: uppercase;
	background: linear-gradient(to right, #538080 0%, #719c20 100%);
    background-clip: inherit;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.landing-container .read-more {
    background-color: transparent;
    width: 15rem;
    height:40px;
    border: 1px solid var(--bs-dark-color);
}

.landing-container .read-more a{
    text-decoration: none;
    color: var(--bs-dark-color);
}

.landing-container  button:hover {
    border: 2px solid var(--bs-dark-color);
}

@media only screen and (max-width: 600px) {
    .landing-container, .landing-container .container, .landing-container .row, .landing-container .col {
        height: inherit;
    }
    .icons {
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }
    
    .icons li {
        list-style-type: none;
        padding-right: 25px;
    }
  }

 