.logo:hover{
    transform: scale(1.5);
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.logo img{
    height: 10vh;
    width: 100%;
    object-fit: contain;
}

.logo {
    margin-bottom: 25px;
}

.skills-container {
    width: 100%;
}