.about-timeline {
    text-align: left;
    overflow: scroll;
}

.about-timeline::-webkit-scrollbar {
    display: none;
}

.about-timeline ul label {
    background-color: #adb5bd;
    outline: 7px solid #dee2e6;

}

.about-timeline ul:before {
    background-color: #ced4da;
}

.about-timeline ul li {
    color: var(--bs-dark-color);
}

.about-timeline ul li p {
    color: white;
    background-color: #bcb8b1;
}

.about-timeline ul li h3, .about-timeline ul li h4 {
    color: var(--bs-gray06);
}


.about-container .download-resume {
    background-color: transparent;
    width: 15rem;
    height:40px;
    border: 1px solid;
}

.about-container  button:hover {
    border: 2px solid;
}

.about-me h6, p {
    color: var(--bs-gray06);
}

.about-me h2 {
    color: var(--bs-gray06);
}

.about-timeline .tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: #99999933;
    color: #777;
    margin: .25em .20em;
    font-size: 0.70rem;
    letter-spacing: .15ch;
    cursor: pointer;
}

.about-heading h1 {
    padding: 30px 0 8px;
    position: relative;
    z-index: 2;
  }
  
.about-heading h1::before {
content: "";
position: absolute;
bottom: 10px;
left: 48.5%;
width: 200px;
height: 14px;
transform: skew(-12deg) translateX(-50%);
background: rgba(102, 22, 6, 0.5);
z-index: -1;
}