.about-container {
    height: 90vh;
}

.about-container .timeline {
    height: 80vh;
    overflow: scroll;
}

.about-container .timeline::-webkit-scrollbar {
    display: none;
  }

@media only screen and (max-width: 600px) {
    .about-container, .about-container .timeline {
        height: inherit;
    }
}